##this is an example service.yaml that should be customized in order to meet the configuration for app service

kind: Service
apiVersion: v1
metadata:
  name: {{.Values.service.name}} 
  labels:
    chart: "{{ .Chart.Name | trunc 63 }}"
    chartVersion: "{{ .Chart.Version | trunc 63 }}"
    app: {{.Values.service.name}}
    visualize: "true" 
    hasHealthcheck: "{{ .Values.service.hasHealthcheck }}"
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "{{ .Values.service.certificateAwsArn }}"
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443"
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http
    service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: "{{ .Values.elb.tags }}"
    service.beta.kubernetes.io/aws-load-balancer-access-log-enabled: true
    service.beta.kubernetes.io/aws-load-balancer-access-log-s3-bucket-name: "{{ .Values.s3.bucketName }}"
    service.beta.kubernetes.io/aws-load-balancer-access-log-s3-bucket-prefix: "{{ .Values.s3.prefix }}"
    service.beta.kubernetes.io/aws-load-balancer-access-log-emit-interval: 5

spec:
  type: LoadBalancer
  ports:
    - port: 443
      targetPort: 80
  selector:
    app: {{ .Values.service.name }} 
